<!doctype html>
<html>
<head>
    <meta charset=utf-8>
    <link rel="icon shortcut" href=img/logo.png type=image/png>
    <link rel=apple-touch-icon href=img/logo.png>
    <link rel=stylesheet href=yueting/js/nas/lib/bootstrap-4.0.0-dist/css/bootstrap.min.css>
    <link rel=stylesheet href=yueting/css/nas/css/base.css>
    <link rel=stylesheet href=yueting/css/nas/css/ui-block.css>
    <meta name=viewport content="width=device-width">
    <title> 注册 </title>
    <style>
        input {
            text-align: center;
        }

        .active1 {
            display: none;
        }

        .download {
            margin-top: 48px;
            text-align: center;
        }

        .wallet_help {
            font-size: 0.8rem;
        }
    </style>
</head>
<body>
    <div class="container wallet">
        <div>
        <div class = "header_nav">
            <button class="btn left" id = "sign_up" data-i18n="swf/sign_up"> 登录 </button>
            <button class="btn right active" id = "sign_in" data-i18n="swf/sign_in"> 注册 </button>
        </div>
        <div id=newWallet class="newWallet">
            <div class=form-group>
                <!--<label for=password data-i18n="Enter a password:（Not less than 9 characters)"> &bsp</label> -->
                <input type=password class=form-control id=password data-i18n=new/enter-password placeholder="Do NOT forget to save this!" data-validate-order-matters="required lengthGt8">
            </div>
            <button class="btn btn-block" data-i18n=new/new id=creat>Create New Wallet</button>
        </div>
        <div class="active1 download">
            <h1>
                <span data-i18n=new/save1>Save your</span>
                <code data-i18n=keystore-file></code>
                <span data-i18n=new/save3>File.</span>
            </h1>
            <button class="btn btn-block" data-i18n=new/gen>Download Keystore File</button>
        </div>
        <p class=wallet_help data-i18n=new/comment>
            This password encrypts your private key.
            <br>This does not act as a seed to generate your keys.
            <br>You will need this password + your private key to unlock your wallet.
        </p>
    </div>
    </div>
    <script src=yueting/js/nas/lib/jquery-3.3.1.min.js></script>
    <script src=yueting/js/nas/lib/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js data-depends=jquery.slim></script>
    <script src=yueting/js/nas/lib/bootbox.min.js data-depends="bootstrap jquery.slim"></script>
    <script src=yueting/js/nas/lib/Blob.js></script>
    <script src=yueting/js/nas/lib/FileSaver.min.js></script>
    <script src=yueting/js/nas/lib/nebulas.js></script>
    <script src=yueting/js/nas/js/1-localSave.js></script>
    <script src=yueting/js/nas/js/home.v1.js></script>
    <script src=yueting/js/nas/js/i18n.js data-depends=jquery.slim></script>
    <script src=yueting/js/nas/js/ui-block.js data-depends="bootbox blockies jquery.slim i18n.js nebulas.js"></script>
    <script>
        "use strict";

        // replace ="([^ =]+)" with =$1

        var nebulas = require("nebulas"),
            account = nebulas.Account.NewAccount(), //TODO：流程位置 应该在创建之后 。创建密码应该删除 
            validateAll = uiBlock.validate();


        $("#creat").on("click", onClickCreate);
        $(".download button").on("click", onClickDownloadButton);

        function onClickCreate() {
            validateAll() && $(".download").removeClass("active1");
        }

        function onClickDownloadButton() {
            var password = $("#password").val(), address, keyStr, blob;

            if (validateAll()) {
                bootbox.alert({
                    message: "waiting...",
                    title: "info"
                });

                // window.open('tokey.html?password=' + password, '_blank');

                address = account.getAddressString();
                keyStr = account.toKeyString(password);
                blob = new Blob([keyStr], { type: "application/json; charset=utf-8" });
                saveAs(blob, address);
                bootbox.hideAll();
                //userId is equal to walletAddress
                creatUser(address, address)
                window.location.href = "/";
            }

        }
    </script>

    <script>
        $("button#sign_up").on("click", function () {
            window.location.href="/";
        })
    </script>
    <script>
        var isMobile = {
            Android: function() {
                return navigator.userAgent.match(/Android/i) ? true : false;
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i) ? true : false;
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i) ? true : false;
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
            }
        };
        if (isMobile.Android() || isMobile.iOS()) {
            $(".wallet").css("width", "83%");
        }
    </script>
</body>
</html>
